.formContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
  text-align: center;
}

.chooseMealName,
.chooseMealCalories {
  width: 60%;
  margin-bottom: 2%;
  padding: 2%;
  border: 1ph solid lightgreen;
  border-radius: 5px;
}

.chooseMealType {
  width: 80%;
  background-color: rgb(233, 252, 233);
  margin-bottom: 3%;
  padding: 2%;
  border: 1ph solid lightgreen;
  font-size: 1rem;
  border-radius: 5px;
}

.submit {
  width: 50%;
  background-color: #282c34;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 2.5%;
  color: lightgreen;
}
