.dayViewWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2.5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeButton:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
}

.dayViewComponents {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonWrapper {
  width: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(green, lightgreen);
  border-radius: 20px;
  justify-content: space-evenly;
  box-shadow: 0 0 2em lightgreen;
}
.pieContainer {
  width: 50%;
  margin-top: 5%;
}
