.mainContainer {
  width: 80vw;
  height: 15vh;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dayAndCaloriesBox {
  width: 60%;
  border: 1px solid blue;
  display: flex;
  font-size: 1.6em;
}
.selectedDay {
  width: 70%;
  border: 1px solid red;
}
.caloriesBox {
  width: 30%;
  text-align: end;
}
