#navLoggedOut,
#navLoggedIn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  list-style: none;
  height: 9vh;
  text-align: center;
}

#navLoggedOut li,
#navLoggedIn li {
  color: #fff;
  margin: auto;
  padding: 10px;
}
#navLoggedOut li:first-child,
#navLoggedIn li:first-child {
  margin: auto 20px;
}
.navLink {
  text-decoration: none;
  color: inherit;
  /* transition: all 0.2s ease-in-out; */
}
.navLink:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #fff;
}
