.appWrapper {
  height: 100vh;
  width: 100vw;
}

.rbc-calendar {
  height: 100vh;
  color: white;
}

.rbc-today {
  background-image: linear-gradient(green, lightgreen);
  color: black;
}

.rbc-event {
  background-color: black;
  color: #fff;
}

.rbc-event.rbc-selected {
  background-color: greenyellow;
}
.rbc-event:focus {
  outline: 5px auto lightgreen;
}

.rbc-day-slot .rbc-event {
  border: 1px solid lightgreen;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 10px;
  text-align: center;
  color: lightgreen;
  font-weight: bold;
}

.rbc-toolbar button {
  color: green;
  font-weight: bold;
  background: lightgreen;
  border: 1px solid green;
  padding: 0.375rem 1rem;
  border-radius: 4px;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgb(173, 255, 47);
  background-color: #282c34;
  border-color: green;
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: lightgreen;
  font-weight: bold;
  background-color: green;
  border-color: lightgreen;
}
.rbc-toolbar button:focus {
  color: lightgreen;
  font-weight: bold;
  background-color: #282c34;
  border-color: lightgreen;
}
.rbc-toolbar button:hover {
  color: lightgreen;
  font-weight: bold;
  background-color: #282c34;
  border-color: lightgreen;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
  color: white;
}
